<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pantonius Home</title>
    <meta name='Lord' content='Mervyn'>
    <link rel="stylesheet" type="text/css" href="../public/css/home/slidemenu.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/home/jquery.fullPage.css"/>
    <link rel="stylesheet" type="text/css" href="../public/css/home/userinfotable.css"/>
    <link rel="stylesheet" type="text/css" href="../public/css/home/example.css" />
    <!--<script src="../src/js/jquery/jquery-1.8.3.min.js"></script>-->
    <script src="../src/js/jquery/jquery-1.12.0.js"></script>
    <script src="../src/js/jquery/jqueryui-1.9.1.min.js"></script>
    <!-- Bootstrap start -->
    <!--<link rel="stylesheet" type="text/css" href="../public/css/bootstrap/bootstrap-theme.css">-->
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap/bootstrap.css">
    <script src="../src/js/bootstrap/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap-table/src/bootstrap-table.css">
    <script type="text/javascript" src="../node_modules/bootstrap-table/src/bootstrap-table.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap-table/src/locale/bootstrap-table-en-US.js"></script>
    <!-- Bootstrap end -->
    <script type="text/javascript" src="../src/js/home/jquery.fullPage.js"></script>
    <script type="text/javascript" src="../src/js/home/examples.js"></script>
    <!--[if IE]>
    <script type="text/javascript">
        var console = { log: function() {} };
    </script>
    <![endif]-->

    <script type="text/javascript">

        $(document).ready(function() {
            $('#fullpage').fullpage({
                sectionsColor: ['rgb(30,30,30)', '#4BBFC3', '#DEB5FF', 'whitesmoke', '#ccddff'],
                anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
                menu: '#menu',
                scrollingSpeed: 1000
            });
        });

        $(window).load(function() {
            $(".btn-nav").on("click tap", function() {
                $(".nav-container").toggleClass("showNav hideNav").removeClass("hidden");
                $(this).toggleClass("animated");
            });
        });

        if($(".modal").hasClass())

        /////////////////////////
        ///slider tables start///
        /////////////////////////

        $('#table').bootstrapTable({
            columns: [{
                field: 'id',
                title: 'Item ID'
            }, {
                field: 'name',
                title: 'Item Name'
            }, {
                field: 'price',
                title: 'Item Price'
            }],
            data: [{
                id: 1,
                name: 'Item 1',
                price: '$1'
            }, {
                id: 2,
                name: 'Item 2',
                price: '$2'
            }]
        });

        /////////////////////////
        /// slider tables end ///
        /////////////////////////

        function system_control(){
            alert("system control");
        }

        function user_mgt(){
            alert("this is user mgt");
        }

    </script>

    <style>
        #section0 img,
        #section1 img{
            margin: 20px 0 0 0;
        }
        #section2 img{
            margin: 20px 0 0 52px;
        }
        #section3 img{
            margin: 20px 0 0 0;
        }
        .intro p{
            width: 50%;
            margin: 0 auto;
            font-size: 1.5em;
        }
        #logoutbutton{
            background-color:grey;
            border-color:ghostwhite;
            text-colour:white;
            font-weight: bold;
            text-shadow: 0px 0px 5px snow;

            left: 90%;
            top: 5%;
            position:absolute;
            z-index:3;
            width:100px;
            margin-bottom:10px;
        }
        #userinfo{
            width:300px;
            left:75%;
            top:12%;
            position: absolute;
            z-index:3;
            text-align:left;
        }

        #userinfo img{
            display:block;
            margin:auto;
            width:250px;
            height:175px;
            @border-radius-base: 4px;
            @border-radius-large: 6px;
            @border-radius-large: 3px;
        }

        .intro{
            margin-top: 10%;
        }


    </style>

</head>
<body>
<div style="position:absolute; width: 200px; background-color:#212121;">
    <button class="btn-nav" style="position:absolute; top:30px;">
        <div class="bar arrow-top-r"></div>
        <div class="bar arrow-middle-r"></div>
        <div class="bar arrow-bottom-r"></div>
    </button>
</div>
<nav class="nav-container hidden hideNav">
    <ul class="nav-list">
        <li class="list-item"><a href="http://localhost:7998/templates/hometest.html#firstPage"><i class="fa fa-home"></i></a></li>
        <li class="list-item"><a href="http://localhost:7998/templates/hometest.html#secondPage"><i class="fa fa-cogs"></i></a></li>
        <li class="list-item"><a href="http://localhost:7998/templates/hometest.html#secondPage/1"><i class="fa fa-user"></i></a></li>
        <li class="list-item"><a href="http://localhost:7998/templates/hometest.html#secondPage/2"><i class="fa fa-users"></i></a></li>
        <li class="list-item"><a href="http://localhost:7998/templates/hometest.html#secondPage/3"><i class="fa  fa-object-group"></i></a></li>
        <li class="list-item"><a href="http://localhost:7998/templates/hometest.html#3rdPage"><i class="fa fa-sitemap"></i></a></li>
        <li class="list-item"><a href="http://localhost:7998/templates/hometest.html#3rdPage/1"><i class="fa fa-paint-brush"></i></a></li>
        <li class="list-item"><a href="http://localhost:7998/templates/hometest.html#3rdPage/2"><i class="fa fa-pencil"></i></a></li>
        <li class="list-item"><a href="http://localhost:7998/templates/hometest.html#3rdPage/3"><i class="fa fa-exclamation-triangle"></i></a></li>
        <li class="list-item"><a href="http://localhost:7998/templates/hometest.html#4thpage"><i class="fa fa-briefcase"></i></a></li>
    </ul>
</nav>
<div id="fullpage">

    <div class="section" id="section0">
        <h1 style="font-family: sans-serift; font-size:100px; color:white; text-shadow: 0px 0px 14px grey;">Pantonius 10</h1>
        <p style="color:white; text-shadow: 0px 0px 14px grey;">The MCRE EDMS</p>
        <img style="width: 100px; height: 100px;" src="imgs/HTLogo.png"/>
        <div id="userinfo" class="userinfo">
            <img src="imgs/brockle.png"/>
                <table class="table1">
                <tbody>
                <tr>
                    <th scope="row">Name:</th>
                    <td>Brock Lesnar</td>
                </tr>
                <tr>
                    <th scope="row">Position:</th>
                    <td>Small Fry</td>
                </tr>
                <tr>
                    <th scope="row">Department:</th>
                    <td>Wrestling</td>
                </tr>
                </tbody>
            </table>
        </div>
        <button id="logoutbutton" class="btn btn-primary btn-md">Logout</button>
    </div>
    <div class="section" id="section1">
        <div class="slide">
            <div class="intro">
                <h1 style="font-size:100px;">System Control</h1>
                <p>Manage Everything Here!</p>
                <img src="imgs/iphone-blue.png"/>
            </div>
        </div>
        <div class="slide">
            <div class="intro">
                <img src="imgs/1.png"/>
                <h1>User Management</h1>
                <p>Manage the Users here</p>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#userManagement">Manage Users</button>
            </div>
        </div>
        <div class="slide">
            <div class="intro">
                <img src="imgs/2.png"/>
                <h1>Group Management</h1>
                <p>Manage the Groups here</p>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#groupManagement">Manage Groups</button>
            </div>
        </div>
        <div class="slide">
            <div class="intro">
                <img src="imgs/3.png"/>
                <h1>Workspace Management</h1>
                <p>Manage the Workspace here</p>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#workspaceManagement">Manage Workspaces</button>
            </div>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="slide">
            <div class="intro">
                <h1>Process Organizer</h1>
                <p>Create processes and design workflows here</p>
                <img src="imgs/workflow.png"/>
            </div>
        </div>
        <div class="slide">
            <div class="intro">
                <h1>Workflow Designer</h1>
                <p>Create processes and design workflows here</p>
                <img src="imgs/1.png"/>
            </div>
        </div>
        <div class="slide">
            <div class="intro">
                <h1>Form Designer</h1>
                <p>Create processes and design workflows here</p>
                <img src="imgs/2.png"/>
            </div>
        </div>
        <div class="slide">
            <div class="intro">
                <h1>Notification Setup</h1>
                <p>Create processes and design workflows here</p>
                <img src="imgs/3.png"/>
            </div>
        </div>
        <div class="intro">
            <h1>Process Organizer</h1>
            <p>Create processes and design workflows here</p>
            <img src="imgs/workflow.png"/>
        </div>
    </div>
    <div class="section" id="section3">
        <div class="intro">
            <h1>Task Manager</h1>
            <p>
                Manage your tasks here
            </p>
            <img style="width:409px;height:249px;" src="imgs/taskmanager.png"/>
        </div>
    </div>
</div>

<div class="modal fade" id="userManagement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="userManagementmodal">User Management</h4>
            </div>
            <div class="modal-body">
                <table>
                    <thead>
                        <tr>
                            <th><img style="display: inline-block; text-align:center; height: 90px; width: 90px;" src="imgs/SystemControl/adduser.png"></th>
                            <th><img style="display: inline-block; text-align:center; margin-left:35px; height: 100px; width: 100px;" src="imgs/SystemControl/edituser.png"></th>
                            <th><img style="display: inline-block; text-align:center; margin-left:35px; height: 90px; width: 90px;" src="imgs/SystemControl/deleteuser.png"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:center;">Add</td>
                            <td style="text-align:center;">Edit</td>
                            <td style="text-align:center;">Delete</td>
                        </tr>
                    </tbody>
                </table>
                <table id="user_table" data-toggle="table" data-sort-name="full_name" data-sort-order="desc" data-page-list="[1, 5, 10, 20, 50, 100, 200]" data-query-params="queryParams" data-pagination="true" data-search="true">
                    <thead style="font-weight:bolder">
                        <tr>
                            <th data-field="user_check" data-checkbox="true"></th>
                            <th data-field="user_id" data-sortable="true">ID</th>
                            <th data-field="full_name" data-sortable="true">Full Name</th>
                            <th data-field="user_name" data-sortable="true">Username</th>
                            <th data-field="user_pos" data-sortable="true">Position</th>
                            <th data-field="user_dept" data-sortable="true">Department</th>
                            <th data-field="user_mail" data-sortable="true">E-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>1</td>
                            <td>Administrator</td>
                            <td>root</td>
                            <td>Administrator</td>
                            <td>Admin</td>
                            <td>root@root.com</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Sample Man</td>
                            <td>test</td>
                            <td>Tester</td>
                            <td>Testing</td>
                            <td>test@root.com</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>3</td>
                            <td>Ikan Leung</td>
                            <td>yileung</td>
                            <td>Singer</td>
                            <td>Arts</td>
                            <td>fish@root.com</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>4</td>
                            <td>Donkey Man</td>
                            <td>donkeyman</td>
                            <td>Donkey</td>
                            <td>Animals</td>
                            <td>Donkey@root.com</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>5</td>
                            <td>Medium Fish</td>
                            <td>ngamyui</td>
                            <td>Fisherman</td>
                            <td>Agriculture</td>
                            <td>Medium@root.com</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>6</td>
                            <td>Small Fish</td>
                            <td>saiyui</td>
                            <td>Manerfish</td>
                            <td>Mangraculture</td>
                            <td>Small@root.com</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>7</td>
                            <td>Big Fish</td>
                            <td>taiyui</td>
                            <td>Fishing Rod</td>
                            <td>Foods</td>
                            <td>Big@root.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="groupManagement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="groupManagementmodal">Group Management</h4>
            </div>
            <div class="modal-body">
                <table>
                    <thead>
                    <tr>
                        <th><img style="display: inline-block; text-align:center; height: 90px; width: 90px;" src="imgs/SystemControl/adduser.png"></th>
                        <th><img style="display: inline-block; text-align:center; margin-left:35px; height: 100px; width: 100px;" src="imgs/SystemControl/edituser.png"></th>
                        <th><img style="display: inline-block; text-align:center; margin-left:35px; height: 90px; width: 90px;" src="imgs/SystemControl/deleteuser.png"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align:center;">Add</td>
                        <td style="text-align:center;">Edit</td>
                        <td style="text-align:center;">Delete</td>
                    </tr>
                    </tbody>
                </table>
                <table id="group_table" data-toggle="table" data-sort-name="group_name" data-sort-order="desc" data-page-list="[1, 5, 10, 20, 50, 100, 200]" data-query-params="queryParams" data-pagination="true" data-search="true">
                    <thead style="font-weight:bolder">
                    <tr>
                        <th data-field="group_check" data-checkbox="true"></th>
                        <th data-field="group_id" data-sortable="true">ID</th>
                        <th data-field="group_name" data-sortable="true">Group Name</th>
                        <th data-field="group_usernum" data-sortable="true">Total Users</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td>1</td>
                        <td>Administrator</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>2</td>
                        <td>Sample</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>3</td>
                        <td>Ikan</td>
                        <td>1021</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>4</td>
                        <td>Donkey</td>
                        <td>816</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>5</td>
                        <td>Medium</td>
                        <td>616</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>6</td>
                        <td>Small</td>
                        <td>382</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>7</td>
                        <td>Big</td>
                        <td>931</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="workspaceManagement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="workspaceManagementmodal">Workspace Management</h4>
            </div>
            <div class="modal-body">
                <p contenteditable="true">There should be a table here.</p>
                <p contenteditable="true">List of stuff to do:</p>
                <p contenteditable="true">0. Prepare Workspaces</p>
                <p contenteditable="true">1. Prepare Table</p>
                <p contenteditable="true">2. Pagination</p>
                <p contenteditable="true">3. Table Functions (sorting and such)</p>
                <p contenteditable="true">4. System Functions (CRUD)</p>
                <p contenteditable="true">5. Search Functions</p>
                <p contenteditable="true">6. Export Functions</p>
                <p contenteditable="true">7. Now start doing MCRE to test this out</p>
                <p contenteditable="true">7. Now start doing MCRE to test this out</p>
                <p contenteditable="true">7. Now start doing MCRE to test this out</p>
                <p contenteditable="true">7. Now start doing MCRE to test this out</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>